name: ci

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "dockslakr/gmp-ha-rest"
      - name: Build and push Fetcher
        uses: docker/build-push-action@v6
        with:
          context: ./fetcher
          file: ./fetcher/Dockerfile
          push: true
          tags: ${{ vars.DOCKER_USER }}/gmp-ha-rest-fetcher:latest

      - name: Build and push Worker
        uses: docker/build-push-action@v6
        with:
          context: ./fileserver
          file: ./fileserver/Dockerfile
          push: true
          tags: ${{ vars.DOCKER_USER }}/gmp-ha-rest-fileserver:latest
